<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&family=Magra&family=Red+Hat+Text:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/default-style.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <header class="header">
        <div class="header__wrapper">
            <div class="container">
                <a href="" class="logo"></a>

                <nav>
                    <ul>
                        <li><a href="#">How It Works</a></li>
                        <li><a href="#">Plan Your Trip</a></li>
                        <li><a href="#">Destinations</a></li>
                        <li><a href="#">Travel Stories</a></li>
                    </ul>
                </nav>
                <button type="button" class="header__button button">Login</button>

            </div>
        </div>
    </header>
    <main>
        <section class="preview">
            <div class="preview__wrapper">
                <div class="container">
                    <h1>Explore the beauty of the World</h1>
                </div>
            </div>
        </section>
        <section class="steps"></section>
        <section class="destinations"></section>
        <section class="stories"></section>
    </main>
    <footer></footer>

</body>
</html>