.title{
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    line-height: 1.325;
    color: #F2785C;
    text-align: center;
    text-transform: uppercase;
}

.button{
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    line-height: 1.333;
    background-color: #0D606F;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25), 0 .2rem .3rem rgba(13, 96, 111, 0.16);
    border-radius: 1rem;
    color: #fff;
    font-size: 2.4rem;
    padding: 1.35rem 3.25rem;
}

.button-arrow{
    position: relative;
    padding-left: 8.1rem;
}

.button-arrow::before{
    content: "";
    position: absolute;
    width: 4rem;
    height: 2.25rem;
    display: block;
    background-image: url("../img/svg/arrow-button.svg");
    background-repeat: no-repeat;
    left: 3rem;
    top: 50%;
    transform: translate(0, -50%);
}

.center-button{
    text-align: center;
    margin-top: 4rem;
}

