/*
Aleo

font-style: normal;
font-weight: 400;

font-style: italic;
font-weight: 400;

font-style: italic;
font-weight: 700;

font-style: normal;
font-weight: 700;


Red Hat Text

font-style: normal;
font-weight: 500;

Magra
font-style: normal;
font-weight: 600;



font-family: 'Aleo', serif;
font-family: 'Magra', sans-serif;
font-family: 'Red Hat Text', sans-serif;

*/

.header{
    position: relative;
    background-image: url("../img/jpg/bg-preview.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: #fff;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.header__wrapper::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 120, 92, 0.70);
    position: absolute;
    inset: 0;
    z-index: 0;
}

.header .container{
    position: relative;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.preview{
    height: 67.5rem;
    background-image: url("../img/jpg/bg-preview.jpg");
    background-repeat: no-repeat;
    background-position: center -9rem;
    background-size: cover;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo-img{
    width: 3rem;
    height: 3rem;
}

.header__logo-text{
    font-family: 'Magra', sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.22;
    margin-left: .6rem;
}

.header__nav{

}

.header__nav-list{
    display: flex;
}

.header__nav-list .header__nav-item:not(:last-child){
    margin-right: 4.2rem;
}

.header__nav-link{
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.3;

    color: #FFFFFF;
}
