<!DOCTYPE html>
<html lang="ru">

<head>

    <!-- 02.header+hero-p.1   | 14:55 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Tinos:wght@400;700&display=swap" rel="stylesheet"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@400;600;700&family=Tinos:wght@400;700&display=swap" rel="stylesheet">

    <title>Title project</title>

    <link rel="stylesheet" href="./css/default-style.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header>
        <div class="container">

            <div class="header__wrap">
                <a href="#" class="header__logo">
                    <img src="./img/svg/logo.svg" alt="лого">
                </a>
                <div class="header_information">
                    <ul class="header__menu">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Меню</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Бронь</a></li>
                    </ul>

                    <div class="header__buy">
                        <img src="./img/svg/cart.svg" alt="cart">
                    </div>

                    <div class="header__telephote">
                        <a href="tel:+999-888-76-54" class="header_number">
                            <div class="header__tel">
                                <img src="./img/svg/phone.svg" alt="phone">
                            </div>
                            <span>+999-888-76-54</span>
                        </a>
                        <div class="header__text">
                            Свяжитесь с нами для бронирования
                        </div>
                    </div>
                    <button type="button" class="header__button button">Заказ столика</button>
                </div>
                <a href="#" class="header__burger">
                    <img src="./img/svg/burger.svg" alt="burger">
                </a>
            </div>

        </div>
    </header>

    <main class="main">
        <section class="hero">

        </section>
    </main>




</body>

</html>